<div class="col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <h2>Shortened link: <%= link_to "jet.fuel/#{url.slug}", "/#{url.slug}" %></h2>
      <h3>Page Title: <%= url.title %></h3>
      <p>Original link: <%= url.given_url %></p>
      <p>Hits: <%= url.hits %></p>
      <p><%= url.pretty_created_at %></p>
    </div>
  </div>
</div>
